.med-img{
    width: 35px;
    
}
.bg-yellow{
    background-color:  #ffc017;
}
.border-bottom-dark{
    border-bottom: 1px solid rgba(41,41, 41,1);
}
body{
    font-family: 'PT Serif', serif;
}
.btn-sub{
    background-color: black;
    padding: 10px 60px;
    text-decoration: none;
    color: #fff;
    border-radius: 25px;
    font-size: 20px;
}
.display-1{
    font-size: 6rem;
    font-weight: 500;
}
.p-lead{
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 350;
}
.custom-align {
    width: 100%;
    border: 1px solid black;
   display: flex;
   justify-content: space-between;
}
.navbar-brand{
    font-size: 2rem;
}
.btn-start{
    border-radius: 25px;
    padding: 10px 10px;
    background-color: black;
}
.aside-buttons >li{
    margin-bottom: 10px;
}
.btn-link{
    background-color: rgb(243, 243, 242);
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    color: rgb(46, 46, 46);
    transition: ease .5s;
}
.btn-link:hover {
    background-color: rgb(228, 227, 225);
    color: black;
}
.text-topic{
    cursor: pointer;
    color: rgb(7, 190, 7);
    transition: ease .5s;
}
.text-topic:hover{
    color: rgb(27, 27, 27);
}
.text-list ul li a{
    color: rgb(99, 98, 98);
    text-decoration: none;
}
.border-top-dark{
    border-top: 1px solid rgba(230,230,230,1);
}